* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 2%;
    animation: colorchange 21s ease infinite;
}

h5 {
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

section {
    margin-bottom: 5%;
}

.card {
    border: none;
    border-radius: 20%;
    -webkit-box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    -moz-box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    margin-bottom: 5%;
}

.card img {
    border: none;
    border-radius: 25%;
}

.navigation-bar {
    margin-bottom: 0%;
}

.navigation-bar li {
    text-align: right;
}

.intro-section img {
    height: 150vh;
}

.service-section .card {
    margin-bottom: 5%;
}

.decoration-section .card {
    border-radius: 0%;
    border: none;
    -webkit-box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    -moz-box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    margin-bottom: 5%;
}

.decoration-section .card img {
    border-radius: 0%;
    border: none;
    -webkit-box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    -moz-box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
}

.why-us-section .card {
    margin-bottom: 5%;
}

.offers p {
    text-align: center;
    border-radius: 0%;
    border: none;
}

.contact-us .card {
    margin-bottom: 5%;
    border-radius: 0%;
    border: none;
    -webkit-box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    -moz-box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
    box-shadow: 5px 5px 5px 5px rgb(197, 194, 194);
}

.contact-us ul {
    text-align: right;
    font-size: larger;
    font-weight: 800;
}

.contact-us iframe {
    margin: 0 auto;
}

.awesome {
    color: #313131;
    animation: colorchange 20s infinite alternate;
}

@keyframes colorchange {
    0% {
        color: blue;
    }
    10% {
        color: #8e44ad;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: blue;
    }
    50% {
        color: #34495e;
    }
    60% {
        color: blue;
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #f1c40f;
    }
    90% {
        color: #2980b9;
    }
    100% {
        color: pink;
    }
}

@keyframes shadow-wave {
    0% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green), 20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 30px -30px 0 -3px var(--background), 30px -30px var(--orange), 40px -40px 0 -3px var(--background), 40px -40px var(--red);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    20% {
        border: 3px solid var(--red);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary), 20px -20px 0 -3px var(--background), 20px -20px var(--green), 30px -30px 0 -3px var(--background), 30px -30px var(--yellow), 40px -40px 0 -3px var(--background), 40px -40px var(--orange);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    40% {
        border: 3px solid var(--orange);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red), 20px -20px 0 -3px var(--background), 20px -20px var(--primary), 30px -30px 0 -3px var(--background), 30px -30px var(--green), 40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    60% {
        border: 3px solid var(--yellow);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange), 20px -20px 0 -3px var(--background), 20px -20px var(--red), 30px -30px 0 -3px var(--background), 30px -30px var(--primary), 40px -40px 0 -3px var(--background), 40px -40px var(--green);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    80% {
        border: 3px solid var(--green);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow), 20px -20px 0 -3px var(--background), 20px -20px var(--orange), 30px -30px 0 -3px var(--background), 30px -30px var(--red), 40px -40px 0 -3px var(--background), 40px -40px var(--primary);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    100% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green), 20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 30px -30px 0 -3px var(--background), 30px -30px var(--orange), 40px -40px 0 -3px var(--background), 40px -40px var(--red);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .intro-section img {
        height: auto;
    }
    .contact-us iframe {
        width: auto;
        height: fit-content;
    }
}